<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div style="background-color: #ebebeb" class="foot" th:fragment="footer">
	<div class="container">
		<div class="zhinan">
			<ul class="clearfix">
				<li class="item-li">About Us
					<ul>
						<li><a href="#">contact us</a></li>
<!--						<li><a href="#">Website announcement</a></li>-->
					</ul>
				</li>
				<li class="item-li">Beginner's Guide
					<ul>
						<li><a href="#">How to park</a></li>
<!--						<li><a href="#">change Password</a></li>-->
					</ul>
				</li>
				<li class="item-li">Website announcement
<!--					<ul>-->
<!--						<li><a href="#">配送范围</a></li>-->
<!--						<li><a href="#">配送时间</a></li>-->
<!--					</ul>-->
				</li>
				<li class="item-li">change Password
<!--					<ul>-->
<!--						<li><a href="#">退票申请</a></li>-->
<!--						<li><a href="#">改签申请</a></li>-->
<!--					</ul>-->
				</li>
			</ul>
		</div>
		<div class="line"></div>

		<div class="bottom">
			<p>Links：<a href="#"></a>&nbsp;&nbsp;<a href="www.google.com">Google</a></p>
			<p>All information on this site is freely released by users. This site is not responsible for the authenticity of the information. Please pay attention to the authenticity of the identification information when trading. If the content of the website infringes your rights, please contact us to delete</p>
<!--			<p>Copyright &copy;2020-2021 基于H5得汽车订票系统.</p></div>-->
		</div>
	</div>
</html>