<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="userer">
	<div class="help-l fl">
			<div class="help-item">
				<div class="help-item-title">Personal center
					<a href="javascript:void(0)" class="abs"></a>
				</div>
				<div class="help-item-list">
					<ul>
						<li><a th:href="@{'/user/user-show?id='+${session.LogUser.id}}">Personal information</a></li>
						<li><a href="/user/password">change Password</a></li>
					</ul>
				</div>
			</div>
			<div class="help-item">
				<div class="help-item-title">Order management
					<a href="javascript:void(0)" class="abs"></a>
				</div>
				<div class="help-item-list">
					<ul>
						<li><a th:href="@{/order/showOrder}">My Order</a></li>
					</ul>
				</div>
			</div>
			<div class="help-item">
				<div class="help-item-title">Message
					<a href="javascript:void(0)" class="abs"></a>
				</div>
				<div class="help-item-list">
					<ul>
						<li><a th:href="@{'/message/myMessage?id='+${session.LogUser.id}}">my message</a></li>
					</ul>
				</div>
			</div>
		</div>
</div>
</html>