<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: commonHead('Order List')">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Home <span class="c-gray en">&gt;</span> Order Management <span class="c-gray en">&gt;</span> Order List
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Refresh" ><i id="shuaxin" class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<form action="/admin/findOrderByKey">
		<input type="text" th:value="${keyTmp}" class="input-text" style="width:250px" placeholder="Enter keywords, such as name, license plate, etc." name="keyTmp" />
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> Search order</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
	<span class="r">Total data：<strong th:text="${orderNum}"></strong> </span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="10">Order List</th>
			</tr>
			<tr class="text-c">
				<th width="45">Serial number</th>
				<th width="100">Order Number</th>
				<th width="100">Name</th>
				<th width="100">Phone</th>
				<th width="150">Creation time</th>
				<th width="100">License plate number</th>
				<th width="100">Parking space number</th>
				<th width="100">Payment amount</th>
				<th width="100">Status</th>
				<th width="100">Operation</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="order,orderStat : ${orderList}">
				<td>
				<span th:text="${orderStat.index+1}"></span>
				<input type="hidden" th:value="${order.id}" class="inp"/>
				</td>
				<td th:text="${order.code}"></td>
				<td th:text="${order.user_name}"></td>
				<td th:text="${order.phone}"></td>
				<td th:text="${#calendars.format(order.createDate,'yyyy-MM-dd')}"></td>
				<td th:text="${order.plate_num}"></td>
				<td th:text="${order.park_name}"></td>
				<td th:text="${order.total}"></td>
				<td class="td-status">
				<span class="label radius"  th:if="${order.status}==0">Payment pending</span>
				<span class="label radius label-success"  th:if="${order.status}!=0">Order Completion</span></td>
				<td class="td-manage">
				<a title="Delete" href="javascript:;" onclick="order_del(this)"
				class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 引入公共js -->
<span th:include="/common/on-load-js :: commonOnLoadJs"></span>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

function order_del(obj){
	layer.confirm('Confirm to delete?',function(index){
		var orderId = $(obj).parents("tr").find(".inp").val();
		$.ajax({
			type: 'POST',
			url: '/admin/delOrder',
			data:{"orderId":orderId},
			dataType: 'json',
			success: function(data){
				if(data.res==0){
					$(obj).parents("tr").remove();
					layer.msg('Deleted!',{icon:1,time:1000});
				}else{
					layer.msg('Operation failed!',{icon: 2,time:1000});
				}
			}
		});		
	});
}
</script>
</body>
</html>