<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/moban/css/index.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/moban/css/animate-custom.css}" />
</head>
<body style="background: #fff url(/moban/images/bg.jpg) repeat top left;">

<div id="container_demo" >
	<a class="hiddenanchor" id="toregister"></a>
	<a class="hiddenanchor" id="tologin"></a>
	<div id="wrapper">
		<div id="login" class="animate form" >
			<form  action="/user/login" autocomplete="on" method="post">
				<h1>Login</h1>
				<p> 
					<label for="username" class="uname" data-icon="u" >your username</label>
					<input id="username" name="name" required="required" type="text" placeholder="please enter user name"/>
				</p>
				<p> 
					<label for="password" class="youpasswd" data-icon="p">Your password</label>
					<input id="password" name="password" required="required" type="password" placeholder="Please enter the password" />
				</p>
				<p> 
					<span style="color: red;font-size: 18px" th:text="${msg}"></span>
				</p>
				<p class="login button"> 
					<input type="submit" value="log in" />
				</p>
				<p class="change_link">
					Don't have account?<a href="#toregister" class="to_register">join us</a>
				</p>
			</form>
		</div>

		<div id="register" class="animate form">
			<form  action="/user/user-save" autocomplete="on" method="post">
				<h1>registered</h1>
				<p> 
					<label for="usernamesignup" class="uname" data-icon="u">username</label>
					<input id="usernamesignup" name="name" required="required" type="text" placeholder="username" />
				</p>
				<p> 
					<label for="tel" class="youmail">contact number</label>
					<input id="tel" name="phone" required="required" type="tel" placeholder="contact number"/>
				</p>
				<p> 
					<label for="academy" class="youmail">License plate number</label>
					<input id="academy" name="plate_num" required="required" type="tel" placeholder="License plate number"/>
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p">password</label>
					<input id="passwordsignup" name="password" required="required" type="password" placeholder="password"/>
				</p>
				<p class="signin button"> 
					<input type="submit" value="registered"/>
				</p>
				<p class="change_link">  
					already have account?<a href="#tologin" class="to_register"> Go to login </a>
				</p>
			</form>
		</div>
		
	</div>
	
</div>
	
</body>
</html>