<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/moban/css/index.css}"/>
	<script th:src="@{/moban/js/main.js}"></script>
	<title>View announcement</title>
</head>
<body >

<span th:replace="/common/head2 :: header"></span>

<div class="mainbody" style="background: #FFF url(images/bodybg.png) repeat-x;">
	<div class="container clearfix" style="background-color: white">
		<div class="mainbody_topbg"></div>
		<div class="bread">current location：
			<a>Home</a> >
			<a>announcement</a> >
			<a>Announcement details</a>
		</div>
		<div class="maincontent" style="width: 100%">
			<div class="post">
				<h2><a th:text="${notice.title}"></a></h2>
				<div class="postdata">
					<div class="date" th:text="${#calendars.format(notice.createDate,'yyyy-MM-dd')}">01/03/2021</div>
					<div class="cate">Published on <a href="#">announcement</a> </div>
				</div>
				<div class="content">
					<p th:text="${notice.content}">Hello：</p>
					<br><br>
					<p style="text-align: right;" th:text="${#calendars.format(notice.createDate,'yyyy-MM-dd')}">02/03/2021</p>
				</div>
			</div>

		</div>
		<div class="mainbody_bottombg"></div>
	</div>
</div>


<span th:replace="/common/foot :: footer"></span>

</body>
</html>