<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: commonHead('Message List')">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Home <span class="c-gray en">&gt;</span> Message Management <span class="c-gray en">&gt;</span> Message List
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Refresh" ><i id="shuaxin" class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<form action="/admin/findMessageByContent">
		<input type="text" th:value="${contentTmp}" class="input-text" style="width:250px" placeholder="Enter Message" id="" name="contentTmp" />
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> Search Message</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">Total data：<strong th:text="${messageNum}"></strong> </span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">Message List</th>
			</tr>
			<tr class="text-c">
				<th width="45">Serial number</th>
				<th width="150">Message content</th>
				<th width="100">Creation time</th>
				<th width="100">Created by</th>
				<th width="150">Reply content</th>
				<th width="100">Response time</th>
				<th width="100">Respondent</th>
				<th width="100">Operation</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="message,messageStat : ${messageList}">
				<td>
				<span th:text="${messageStat.index+1}"></span>
				<input type="hidden" th:value="${message.id}" class="inp"/>
				</td>
				<td th:text="${message.content}"></td>
				<td th:text="${#calendars.format(message.createDate,'yyyy-MM-dd')}"></td>
				<td th:text="${message.user_name}"></td>
				<td th:text="${message.answer}"></td>
				<td>
					<span th:if="${message.answerDate != null}" th:text="${#calendars.format(message.answerDate,'yyyy-MM-dd')}"></span>
				</td>
				<td th:text="${message.admin_name}"></td>
				<td class="td-manage">
				<a th:if="${message.answer == null}" title="Reply to message" href="javascript:;" onclick="answer_add(this,'Message Reply','/admin/answer-add','800','300')"
				class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe70c;</i></a>
				<a title="Delete" href="javascript:;" onclick="message_del(this)"
				class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 引入公共js -->
<span th:include="/common/on-load-js :: commonOnLoadJs"></span>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

function answer_add(obj,title,url,w,h){
	var messageId = $(obj).parents("tr").find(".inp").val();
	var urltmp = url+"?messageId="+messageId;
	layer_show(title,urltmp,w,h);
}

function message_del(obj){
	layer.confirm('Confirm to delete?',function(index){
		var messageId = $(obj).parents("tr").find(".inp").val();
		$.ajax({
			type: 'POST',
			url: '/admin/delMessage',
			data:{"messageId":messageId},
			dataType: 'json',
			success: function(data){
				if(data.res==0){
					$(obj).parents("tr").remove();
					layer.msg('Deleted!',{icon:1,time:1000});
				}else{
					layer.msg('Operation failed!',{icon: 2,time:1000});
				}
			}
		});		
	});
}
</script>
</body>
</html>